<div class="container">
  <h1>WELCOME</h1>
  <h2>Sign in to Continue</h2>
  <br /><br />
  <div class="btn-group btn-block-patient-doctor row" style="text-align:center">
    <button
      class="waves-effect waves-light btn-block-patient-doctor btn"
      (click)="getusertype('Doctor')"
      [ngClass]="{
        green: this.user_type == 'Doctor',
        grey: this.user_type == 'Patient' || this.user_type == ''
      }"
    >
      Doctor
    </button>

    <button
      class="waves-effect waves-light btn-block-patient-doctor btn"
      (click)="getusertype('Patient')"
      [ngClass]="{
        green: this.user_type == 'Patient',
        grey: this.user_type == 'Doctor' || this.user_type == ''
      }"
    >
      Patient
    </button>
  </div>
  <br /><br />

  <div class="row">
    <div class="input-field col offset-s3 s5 ">
      <input required [(ngModel)]="email" id="email_inline" type="email" />
      <label for="email_inline">Email</label>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="input-field col offset-s3 s5">
      <input [(ngModel)]="password" id="password" type="password" />
      <label for="password">Password</label>
    </div>
  </div>

  <div class="row" *ngIf="this.loading$ == true">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>

  <div class="row" style="text-align: center " *ngIf="this.loading$ == false">
    <div class="col s6">
      <button
        (click)="signIn(email, password)"
        routerLink="/captureimage"
        class="waves-effect waves-light btn-large btn-block btn green darken"
      >
        LOGIN
      </button>
    </div>
    <div class="col s6">
      <button
        routerLink="/registrationpage"
        class="waves-effect waves-dark btn-large btn-block btn white darken black-text"
      >
        Register
      </button>
    </div>
  </div>

  <div>
    <button routerLink="/qrcode">qrcode</button>
  </div>
  <div>
    <button routerLink="/doctorscanning">doctor scanning</button>
  </div>

  <!--LOGIN RESULT MESSAGES-->
  <div class="row" style="text-align: center;">
    <div class="col s6">
      <div class="card-panel red darken-1" *ngIf="this.status$ == false">
        <span class="white-text">{{ this.message$ }}</span>
      </div>
      <div class="card-panel green darken-1" *ngIf="this.status$ == true">
        <span class="white-text">{{ this.message$ }}</span>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
