<nav>
  <div class="nav-wrapper green accent-4">
    <a href="#" class="brand-logo navbarfontsize">SHOW QRCODE </a>
    <a data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/patient/patientboard">HOME</a></li>
      <li><a routerLink="/">PRESCRIPTIOMS</a></li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/patient/patientboard">HOME</a></li>
  <li><a routerLink="/">PRESCRIPTIOMS</a></li>
</ul>

<div>
  <qrcode
    class="qrcode-container"
    [qrdata]="patient_uid"
    [width]="300"
  ></qrcode>
</div>

<!-- [errorCorrectionLevel]="'M'" -->
