<nav>
  <div class="nav-wrapper green accent-4">
    <a routerLink="/admin/dashboard" class="brand-logo"
      ><img src="assets/admin-logo.png" alt="Admin" height="60"
    /></a>
    <a class="sidenav-trigger" data-target="mobile" (click)="toggleNavbar()"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/admin/dashboard" routerLinkActive="active">DASHBOARD</a>
      </li>
      <li>
        <a routerLink="/admin/medicines" routerLinkActive="active">MEDICINES</a>
      </li>
      <li>
        <a routerLink="/admin/add-medicine" routerLinkActive="active"
          >ADD MEDICINE</a
        >
      </li>
    </ul>
  </div>
</nav>
<ul class="sidenav" materialize="sidenav" id="mobile" *ngIf="this.isNavbarOpen">
  <li>
    <a routerLink="/admin/dashboard" routerLinkActive="active">DASHBOARD</a>
  </li>
  <li>
    <a routerLink="/admin/medicines" routerLinkActive="active">MEDICINES</a>
  </li>
  <li>
    <a routerLink="/admin/add-medicine" routerLinkActive="active"
      >ADD MEDICINE</a
    >
  </li>
</ul>
