h1 {
  text-align: center;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-weight: bold;
}

.btn-block {
  width: 55%;
  border-radius: 50px;
}
.btn-block-patient-doctor {
  width: 40%;
}

.btn-group button {
  float: left;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:not(:last-child) {
  border-right: none;
}
