<nav>
  <div class="nav-wrapper green accent-4">
    <a href="#" class="brand-logo navbarfontsize ">SCAN QRCODE HERE </a>
    <a data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/doctor/dashboard">HOME</a></li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li>
    <a routerLink="/doctor/dashboard" routerLinkActive="active">HOME</a>
  </li>
</ul>

<zxing-scanner
  (scanSuccess)="capturedQr($event)"
  (camerasFound)="displayCameras($event)"
  *ngIf="!this.value"
>
</zxing-scanner>
<div class="row">
  <div *ngIf="this.value">
    <div class="col s12 m6 center-align">
      <ul class="collection">
        <li class="collection-item avatar light-green lighten-3 ">
          <img src="assets/patient.png" alt="" class="circle" />
          <span class="title "
            ><h5 class="p1">{{ patient_data.username }}</h5></span
          >
          <p>
            EMAIL:{{ patient_data.email }} <br />
            UID: {{ scannedvalue }}
          </p>
        </li>
      </ul>
    </div>
    <br /><br />
    <div>
      <div>
        <button
          (click)="retry()"
          class="waves-effect waves-light  btn btnspaces"
        >
          RETRY
        </button>

        <button
          (click)="addvalue()"
          class="waves-effect waves-light  btn btnspaces"
          style="display:inline-flex"
          routerLink="/doctor/dashboard"
        >
          Add Patient
        </button>
      </div>
    </div>
  </div>
</div>
