/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

#sidenav-overlay {
  margin-left: 300px;
}
#sidenav-overlay {
  z-index: 1;
}
#sidenav-overlay {
  left: 300px;
}

.navbar-fixed {
  z-index: 999;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin mat-ripple-theme($theme) {
  .mat-ripple-element {
    background-color: rgba(255, 255, 255, 0);
  }
}
