/* You can add global styles to this file, and also import other style files */
#sidenav-overlay {
  margin-left: 300px;
}
#sidenav-overlay {
  z-index: 1;
}
#sidenav-overlay {
  left: 300px;
}

.navbar-fixed {
  z-index: 999;
}
