<body>
  <div class="container">
    <h1>Register Here</h1>

    <br /><br />
    <div class="row">
      <div class="input-field col offset-s3 s5 ">
        <input [(ngModel)]="username" type="text" id="name" />
        <label for="name">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col offset-s3 s5 ">
        <input
          [(ngModel)]="registration_email"
          id="email_inline"
          type="email"
          class="validate"
        />
        <label for="email_inline">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col offset-s3 s5">
        <input
          [(ngModel)]="registration_password"
          id="password"
          type="password"
          class="validate"
        />
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col offset-s3 s5">
        <input
          [(ngModel)]="confirmpassword"
          id="password"
          type="password"
          class="validate"
        />
        <label for="password">Confirm Password</label>
      </div>
    </div>

    <div class="row" style="text-align: center">
      <div class="offset-s3 s4">
        <a
          class="waves-effect waves-dark btn-large btn-block btn green darken-1"
          (click)="register()"
        >
          Register
        </a>
      </div>
    </div>

    <!--LOGIN RESULT MESSAGES-->
    <div class="row" style="text-align: center;">
      <div class="col s6">
        <div class="card-panel red darken-1" *ngIf="result.result == false">
          <span class="white-text">{{ this.result.message }}</span>
        </div>
        <div class="card-panel green darken-1" *ngIf="result.result == true">
          <span class="white-text">{{ this.result.message }}</span>
        </div>
      </div>
    </div>
  </div>
</body>
<router-outlet></router-outlet>
