.title {
  text-align: center;
  font-weight: 700;
}
.sub-title {
  text-align: center;
  font-weight: 600;
}
.login-form {
  margin-top: 80px;
}
.col {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}
