<nav>
  <div class="nav-wrapper green accent-4">
    <a href="#" class="brand-logo navbarfontsize navbartxt ">SHOW QRCODE </a>
    <a data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/">HOME</a></li>
      <li><a routerLink="/">PRESCRIPTIOMS</a></li>
    </ul>
  </div>
</nav>

<div>
  <div>
    <div [hidden]="!this.stopcamera">
      <video #video autoplay class="vid"></video>
      <div class="top txtcolor ">
        <p>PLACE PRESCRIPTION HERE</p>
        <p>{{ this.scrWidth }}</p>
        <p>{{ this.scrHeight }}</p>
      </div>
      <div>
        <button (click)="capture()" class="btnallign ">
          <i class=" large material-icons ">camera</i>
        </button>
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="file">Choose File</label>
      <input type="file" id="file" (change)="upload($event.target.files)" />
    </div> -->
    <div>
      <canvas #canvas class="vid"></canvas>
      <div *ngIf="!this.stopcamera">
        <button
          (click)="uploadonclick()"
          class="waves-effect waves-light btn-large  green darken centerbutton"
        >
          upload
        </button>
      </div>
    </div>
  </div>
</div>
